/* common css start */
body{
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color:#626262;
}
	
/* common css end */

/* header start */
header{
	padding: 25px 0;
/*	border: 1px solid purple;*/
}
.container{
	margin: 0 auto;
	width: 90%;
/*	border: 1px solid pink;*/
	overflow: hidden;
}
.logo{
	margin-top: 12px;
	width: 15%;
/*	border: 1px solid deeppink;*/
	float: left;
}
.logo img{}
.menu{
	width: 65%;
/*	border: 1px solid deeppink;*/
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none; 
	float: left;
}
.menu ul li a{
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 60px;
	border-bottom: 19px solid transparent;
	transition: .30s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
	font-size: 19px;

}


/* header end */
/* banner start */
.banner{}
.b-img{}
.b-img img{
	width: 100%;
}
/* banner end */
/* photodiary start */
.photodiary{
	padding: 80px 0;
}
.container2{
	margin: 0 auto;
	width: 70%;
/*	border: 1px solid hotpink;*/
	overflow: hidden;
}
.w-content{}
.c-tag{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #b6bbbf;
}
.c-title{
	margin: 15px 0 25px;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 400;


}
.c-text{
	margin: 0;
		font-family: 'Playfair Display', serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;


}
.nb-45{
	margin-bottom: 45px;
}

/* photodiary end */
/*blog start*/
.blog{
	margin: 0 0 80px;
}
.s-blog{
	margin-top: 80px;
	width: 45%;
/*	border: 1px solid red;*/
	box-sizing: border-box;
	float: left;
}
.s-blog:nth-child(even){
	margin-left: 10%;

}
.s-img{
	margin-bottom: 25px;
}
.s-img img{
	width: 100%;
}
/*blog end*/
/*form start*/
.form{
	padding: 100px 0;
/*	min-height: 284px;*/
	background-color:#f0f0f0;
}
.singup{
	text-align: center;
}
.singup h1{
	margin-top: 0;
	margin-bottom: 70px;
	color: #333333;
}
.s-form{
	width: 400px;
/*	border: 1px solid hotpink;*/
	margin: 0 auto;
	position: relative;
}
.s-form input{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 14px;
	color: #626262;
	width: 320px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #626262;
	background: transparent;
	padding-left: 5px;
	padding-right: 85px;

}
.s-form input:focus{
	outline: 0;
}
.s-form button{
	position: absolute;
	top: 10px;
	right: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}
.s-form button img{}

/*form end*/
/*blog-2 start*/
.blog-2{
	margin: 0 0 40px;
}


/*blog-2 end*/
/*button start*/
.button{
/*	border: 1px solid pink;*/

	margin: 100px 0 60px;
	text-align: center;
	min-height: 200px;
/*	background-color:#dbdad5 ;*/
}
.button button{
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 20px;
    border: none;
    border: 1px solid #626262;
    width: 180px;
    height: 80px;
    border-radius: 10px;

}
/*button end*/
/*footer start*/
.footer{
	padding: 20px 0;
	background-color: #f0f0f0;
/*	border: 1px solid red;*/
}
.container3{
/*	border: 1px solid pink;*/
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
}
.menu1{
	padding-left: 148px;
	padding-top: 2px;
}
.menu1 ul{
	width:40% ;
	float: left;
}
.menu1 ul li{
	list-style: none; 
	float: left;
}
.menu1 ul li a{
	font-size: 17px;
	color: #000000;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	padding: 0 13px;
}
.menu2{
	padding-left: 240px;
}
.menu2 ul{
	width: 30%;
	float: right;
}
.menu2 ul li{
	float: left;
	list-style: none; 
	float: left;
}
.menu2 ul li a{
	font-size: 17px;
	color: #000000;
	display: inline-block;
	text-decoration: none;
	margin: 0 auto;
	padding: 0 11px;
}
.menu2 ul li:first-child a{
	padding-top: 2px;
}

/*footer end*/